@model IEnumerable<PersonModel>

@{
    ViewData["Title"] = "List of Victims";
}


    <div class="index">

        <form asp-controller="Home" asp-action="Index" method="get">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-success" type="button">
                        Search
                    </button>
                </div>
                <input type="text" class="form-control" placeholder="Search By First Name" name="id">
            </div>
        </form>

        @if (Model.Any())
        {
            <div class="panel panel-default index__header">
                <h3 class="panel-body">
                    Your Notes
                </h3>
            </div>

            @foreach (PersonModel person in Model.Reverse())
            {
                <div class="panel panel-default">
                    <a asp-action="PersonDetail" asp-route-id="@person.Id" class="index__list-item-link">
                        <div class="panel-body">
                            @person.FirstName @person.LastName <span class="float-right">@person.CityOfResidence</span>
                        </div>
                    </a>
                </div>

            }
        }
        else
        {

            <div class="panel panel-default index__empty-list">
                <h3 class="panel-body">
                    There are no people added
                </h3>
            </div>
        }

        <div class="index__new-note-button-wrapper">
            <a asp-action="PersonEditor" class="index__new-note-button">Add Person</a>
        </div>
    </div>

